<div id="sidebar" class="col-md-4 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="namecard" class="widget">
        <img src="https://dn-opifices.qbox.me/avatar.jpg" class="img-circle" width="140" height="140" />
        <h5>手線 (shouxian)</h5>
        <p>真名丁立，94年生人,INFP人格。<br>
          一个做設計兼写代碼爲生的手艺人,心理學愛好者。<br>
          關注Scrum与UCD,徘徊於科技和人文的十字路口。<br>
          王小波的腦殘粉，走在創業路上的理想主義者。
        </p>
      </div>
      <%= render_cell :categories, :index %>
      <div class="widget">
        <h3>友情連接</h3>
        <div>
          <ul class="list-group">
            <li class="list-group-item"><a href="http://mgampkay.github.io/" target="_blank">Mgampkey's Blog</a></li>
            <li class="list-group-item"><a href="http://ux.etao.com/" target="_blank">一淘UX</a></li>
            <li class="list-group-item"><a href="http://www.hi-id.com/" target="_blank">iD公社</a></li>
            <li class="list-group-item"><a href="http://xiaoxia.org/" target="_blank">XIAOXIA[PG]</a></li>
            <li class="list-group-item"><a href="http://yedingding.com/" target="_blank">叶玎玎's Blog</a></li>
            <li class="list-group-item"><a href="http://railsgirlschina.com/" target="_blank">Rails Girls China</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
