<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm img">
      <img src="//dn-opifices.qbox.me/boris.jpg" class="img-responsive" >
    </div>
    <div class="col-xs-12 col-md-6 about">
      <h1>手线 Shouxian
      </h1>
      <div class="aboutIntro">
    <p>我是手线，具有8年经验的90后 web 架构师。同时也是一名交互设计师和心理学爱好者。</p>
<p>
我从13岁开始在业余时间承包商业项目的设计与开发工作。
</p>
<p>
18岁时我在一家大型电子商务公司全职负责核心系统的重构与优化。我在这里积累了千万 PV 量级 web 项目的架构设计与性能优化经验，并带领团队确保了 ERP 系统在双十一单日销量过亿的极端负载下稳定运行。
</p>
<p>
除此之外，我还具有微信公共平台、CRM 系统、BI 系统、iOS App 以及 大型O2O平台的实施经验。
</p>
<p>
如果你有任何web性能优化、架构设计或者规划方面的问题，欢迎通过我的邮箱 <code>shouxian(at)opifices.com</code> 与我取得联系。
</p>
<p>
另外,我目前在一家处于快速成长期的创业公司担任CTO，并尝试将 Scurm 等敏捷开发方法付诸实践。非常欢迎与我探讨与此相关的问题。
</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 contact">
      <h3>与我联系：</h3>
      <p>
      <a title="Linkedin" href="http://cn.linkedin.com/in/linearsky" target="_blank" ><i class="fa fa-linkedin-square"></i></a>
      <a title="Github" href="https://github.com/shouxian/" target="_blank"><i class="fa fa-github-square"></i></a>
       <a title="Weibo" href="http://weibo.com/434783586/" target="_blank"><i class="fa fa-weibo"></i></a>
        <a title="Twitter" href="https://twitter.com/CN_Boris" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a title="Facebook" href="https://www.facebook.com/profile.php?id=100005856991733" target="_blank"><i class="fa fa-facebook-square"></i></a>

      </p>
    </div>
  </div>
</div>
