<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm img">
      <img src="//dn-opifices.qbox.me/boris.jpg" class="img-responsive" >
    </div>
    <div class="col-xs-12 col-md-6 about">
      <h1>手線 Shouxian
      </h1>
      <div class="aboutIntro">
    <p>我是手線，一名具有八年經驗的90后 web 架構师。同时也是心理學愛好者與交互設計師。</p>
<p>
我从13岁開始兼職進行各類 web 相關商業項目的實施工作。
</p>
<p>
18岁时我在一家大型的電子商務公司全職負責核心系統的重構与優化。在此期間我積累了千萬 PV 量級 web 項目的架構設計與性能優化經驗，並帶領團隊保障了 ERP 系統雙十一期間日銷量过亿的負載下穩定運行。
</p>
<p>
  我目前在一家處於快速成長期的創業公司担任CTO，並正嘗試將 Scurm 等敏捷開發方法付諸實踐。
</p>
<p>
  在Web領域，我目前有六年的PHP開發經驗、兩年的Ruby開發經驗。並在微信公共平臺、ERP、CRM、ios App、B2C 商城、SNS、DevOps 領域由於具體的項目實施經驗。
</p>
<p>
若果你有任何 web 性能優化、架構設計方面的問題或外包需求，歡迎通過 <code>shouxian(at)opifices.com</code> 与我取得聯繫。
</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 contact">
      <h3>更多聯繫方式：</h3>
      <p>
      <a title="Linkedin" href="http://cn.linkedin.com/in/linearsky" target="_blank" ><i class="fa fa-linkedin-square"></i></a>
      <a title="Github" href="https://github.com/shouxian/" target="_blank"><i class="fa fa-github-square"></i></a>
       <a title="Weibo" href="http://weibo.com/434783586/" target="_blank"><i class="fa fa-weibo"></i></a>
        <a title="Twitter" href="https://twitter.com/CN_Boris" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a title="Facebook" href="https://www.facebook.com/profile.php?id=100005856991733" target="_blank"><i class="fa fa-facebook-square"></i></a>

      </p>
    </div>
  </div>
</div>
