<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm img">
      <img src="https://dn-opifices.qbox.me/about.jpg" class="img-responsive" >
    </div>
    <div class="col-xs-12 col-md-6 about">
      <h1>手线 Shouxian
        <span>Rubyer/UE Designer</span>
      </h1>
      <div class="aboutIntro">
        <h1>一个做设计兼写代码的手艺人而已，徘徊于科技和人文的十字路口...</h1>

        <p>手线者，克里顿星人士也，号超人。时克历4000年元月，忽昏黑如夜，须臾大震一声，天崩地塌，万室平沉。史称『克星大爆炸』也。</p>
          <p>线遂驾火箭，踏长空，徙坤舆，时耶历1994年3月。年七岁，线嗜读杂书，常于书肆流连而竟忘食。及长，线游于肆见一方盒小物，世人谓之电脑。线诧曰：「吁兮！技艺灵怪矣哉！」遂矢志此道，习编程、设计等术，乃至走火入魔之境。
          年十六，时中考，心神不宁，竟失常。入一劣塾，难堪其闲，学无可学，遂卒业。游学坤舆，饱览山河。后以「交互设计」、「web开发」为业，颇有己见，而略有小成。及弱冠，线徙杭创业。后落败，再徒粤，以卖萌谋生。</p>
          <p>超人喜旅行，好黑暗料理，嗜读书，擅卖萌。经史子集，均有涉猎，而无专精。并有解梦、测字之异能。</p>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 contact">
      <h3>与我联系：</h3>
      <p>
      <a title="Linkedin" href="http://cn.linkedin.com/in/linearsky" target="_blank" ><i class="fa fa-linkedin-square"></i></a>
      <a title="Github" href="https://github.com/shouxian/" target="_blank"><i class="fa fa-github-square"></i></a>
       <a title="Weibo" href="http://weibo.com/434783586/" target="_blank"><i class="fa fa-weibo"></i></a>
        <a title="Twitter" href="https://twitter.com/CN_Boris" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a title="Facebook" href="https://www.facebook.com/profile.php?id=100005856991733" target="_blank"><i class="fa fa-facebook-square"></i></a>

      </p>
    </div>
  </div>
</div>